// Fontes
@import "../sass/fonts/fonts.scss";

//Cores
@import "../sass/colors/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $general-text;
}

.body-container {
  background: url("../img/body-background-img.png") no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
}

header {
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .logo {
    font-size: 30px;
    display: flex;
    padding-top: 100px;
    color: $main-color;
    font-family: $main-logo;
    span {
      font-family: $sub-logo;
      color: $secondary-color;
      padding-top: 20px;
    }
  }

  .subscribe-btn {
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 370px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #63cbb68c;
    color: $main-color;
    font-family: $main-logo;
    font-size: 14px;
    box-shadow: 4px 3px 15px black;
    text-shadow: 2px 2px 8px black;
    transition: 0.4s;
    &:hover {
      width: 170px;
      height: 40px;
      letter-spacing: 0.5px;
      background-color: transparent;
      color: $secondary-color;
      text-shadow: 2px 2px 5px black;
      box-shadow: none;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 60px;
  }
  .btn-header {
    padding-bottom: 20px;
    list-style: none;
    display: flex;
    gap: 25px;

    .btn {
      padding: 3px;
      text-decoration: none;
      font-family: $general-text;
      color: $secondary-color;
      border: 2px solid transparent;
      border-radius: 2px;
      transition: 0.5s;
      &:hover {
        color: $main-color;
        background-color: $secondary-color-trans;
        border-radius: 7px;
        letter-spacing: 1px;
        text-shadow: 2px 2px 2px black;
      }
    }
  }
}

.main-container {
  display: flex;

  .text-card-section {
    width: 40%;
    margin-top: 45px;
    padding: 20px;

    .text-tittle {
      font-family: $sub-logo;
      padding-bottom: 10px;
    }

    .text-description {
      margin-left: 10px;
      padding: 10px;
      width: 270px;
    }
  }

  .slideshow-section {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 30%;
    transform: translateY(0px);
    animation: float 2s ease-in-out infinite;

    .slide {
      display: none;

      .slide-img {
        width: 390px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 5px 5px 15px black;
      }
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
