// Fontes
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@100;400&family=Unbounded:wght@700&display=swap");

// Logo
$main-logo: "Unbounded", cursive; //Weight: 700
$sub-logo: "Aboreto", cursive; //Weight: 400

// Textos gerais e botões
$general-text: "Roboto", sans-serif;
